<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Object Detection</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container">
        <h1>Object Detection with YOLO</h1>
        <form id="uploadForm" enctype="multipart/form-data">
            <input type="file" id="imageUpload" name="file" accept="image/*">
            <button type="submit">Upload and Detect</button>
        </form>
        <div id="result">
            <h2>Result:</h2>
            <img id="resultImage" alt="Detected Image">
        </div>
    </div>
    <script src="/static/js/script.js"></script>
</body>
</html>
